<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/public/global.css" />
    <title>Page d'acceuil</title>
    <style>
      #notesInput{
      }
    </style>
  </head>
  <body>
    {{>header}}
      <nav>
        {{{navigation}}}
      </nav>
      <main>
        <form>
        <h1>titre</h1>
        <label for="titre">Titre</label>
          <input name="titre">
          <label for="section">Section</label>
          <input name="section">
        <label for="notes">Notes suplementaires</label>
          <input name="notes">
          <input type="submit">
        </form>
      </main>
    {{>footer}}
  </body>
  <script>
    const form = document.querySelector('form');

    form.addEventListener("submit", async (ev) => {

      ev.preventDefault();
      console.log("on envoie");

      if((form.querySelector('input[name="titre"]').value).trim() == ""){
        console.log("titre vide");

      }else{
        
        if((form.querySelector('input[name="section"]').value).trim() == ""){
        console.log("section vide");

        }else{
      
        const res = await fetch("/api/add",{
          method:"post",
          headers:{
            "Content-Type":"application/json"
          },

          body:JSON.stringify({
            title:form.querySelector('input[name="titre"]').value,
            section:form.querySelector('input[name="section"]').value,
            note: form.querySelector('input[name="notes"]').value,
          })

      })

        }
      console.log(res);
      }
    })
  </script>
</html>